/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/* Start default widget styles */

.yht-reviews-container {
    min-height: 565px;
    background: white;
    padding: 14px 27px;
    width: 90%;
    max-width: 850px;
    margin: 64px auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    color: #262626;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
	box-sizing: content-box;
}

@media screen and (min-width: 1200px) and (min-width: 1300px) {
    .yht-reviews-container {
        min-height: 565px;
        width: 88%;
    }
}
@media screen and (min-width: 1200px) {
    .users .reviews {
        width: 83%;
    }
}
@media screen and (min-width: 992px) {
    .users .reviews {
        width: 55%;
    }
}
@media screen and (min-width: 576px) {
    .users .reviews {
        width: 65%;
    }
}

.yht-reviews{
    margin: 0; padding: 0;
    fill: currentColor;
    font: normal 14px Roboto, Arial, sans-serif;
    line-height: 22px;
    overflow: hidden;
}

.yht-reviews a:focus, .yht-review a:active{
    outline:0!important;
}
.yht-reviews strong{
    font-weight: bold;
}
.yht-reviews strong.title {
    margin-bottom: 0;
    display: inline-block;
}
.yht-reviews hr{
    margin: 0 0 20px; padding: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #CCD5D9;
}
.yht-reviews #container{
    height: auto;
    padding: 15px 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(255,255,255);
}
.yht-reviews .stars svg{
    width: 25px; height: 25px;
    vertical-align: middle;
    margin: 1px 0 0 -1px;
    stroke-linejoin: round!important;
}
.yht-reviews .stars svg path{
    fill: #336699!important;
    stroke: #336699!important;
    stroke-linejoin: round!important;
}
.yht-reviews .stars svg path[fill-opacity]{
    fill: #CCD5D9!important;
    stroke: #CCD5D9!important;
    fill-opacity: 1!important;
}

.yht-reviews .overview {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 0;
}
.yht-reviews .overview .flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 6 6 150px;
    -ms-flex: 6 6 150px;
    flex: 6 6 150px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.yht-reviews .overview .flex-item:nth-child(2) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 6 6 200px;
    -ms-flex: 6 6 200px;
    flex: 6 6 200px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.yht-reviews .overview .flex-item:nth-child(3) {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 6 6  250px;
    -ms-flex: 6 6 250px;
    flex:6 6 250px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
@media all and (max-width: 750px){
    .yht-reviews .overview,
    .yht-reviews .overview .flex-item{
        display: block;
    }
    .yht-reviews .overview .flex-item:nth-child(2){
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .yht-reviews .overview .flex-item:nth-child(3) hr{
        display: none;
    }
}

.yht-reviews .overview .score .score-value{
    display: block;
    text-align: center;
    padding: 23px;
    background: #336699;
    color: white;
    font: bold 70px "Roboto Slab", Verdana, Arial, sans-serif;
}
.yht-reviews .overview .score .score-note{
    display: block;
    text-align: center;
    background: black;
    color: white;
    padding: 0px 0;
    font: bold 20px "Roboto Slab", Verdana, Arial, sans-serif;
}
.yht-reviews .overview .score .link-create{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #336699;
    padding: 2px;
}
.yht-reviews .overview .score .link-create:hover{
    color: black;
    background: #efefef;
}
@media all and (max-width: 750px){
    .yht-reviews .overview .score .link-create{
        font-size: 17px;
        padding: 5px 0;
    }
}
.yht-reviews .overview .score-distribution{
    padding: 0 25px;
}
#content-area .yht-reviews .overview .score-distribution table, #content-area .yht-reviews .overview .score-distribution table{
    width: 100%;
    margin-bottom: 0;
	border: none;
}
#content-area .yht-reviews .overview .score-distribution table td, .yht-reviews .overview .score-distribution table td{
    color: #6f767a;
    font: 16px Arial, sans-serif;
    padding: 0 0 7px;
    border: none;
}
.yht-reviews .overview .score-distribution .bar{
    display: block;
    height: 28px; margin: 0 10px;
    background: #CCD5D9;
    vertical-align: middle;
    border-radius: 5px;
}
.yht-reviews .overview .score-distribution .bar span{
    display: block;
    height: 28px;
    border-radius: 5px;
    background: #336699;
}
.yht-reviews .overview .overall-rating{
}
#content-area table, #container .yht-reviews table, .yht-reviews table{
    border: none !important;
}
#content-area .yht-reviews .overview .overall-rating table td, .yht-reviews .overview .overall-rating table td, #container .yht-reviews .overview .overall-rating table td{
    vertical-align: middle;
    font: 16px Arial, sans-serif;
    color: #CCD5D9;
    padding: 0;
    border: none !important;
}
#content-area .yht-reviews .overview .overall-rating table td:first-child, .yht-reviews .overview .overall-rating table td:first-child, #container .yht-reviews .overview .overall-rating table td:first-child {
    color: #6f767a;
    font-size: 22px;
    font-weight: bold;
}
.yht-reviews .overview .overall-rating hr{
    margin: 10px 0;
}

.yht-reviews .review-header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: rgb(255,255,255);
    margin-top: 32px;
}
.yht-reviews .review-header .flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 6 6 auto;
    -ms-flex: 6 6 auto;
    flex: 6 6 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.yht-reviews .review-header .flex-item:nth-child(2) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 2 2 auto;
    -ms-flex: 2 2 auto;
    flex: 2 2 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: right;
}
@media all and (max-width: 750px){
    .yht-reviews .review-header,
    .yht-reviews .review-header .flex-item{
        display: block;
    }
    .yht-reviews .review-header .flex-item:nth-child(2){
        text-align: left;
    }
    .yht-reviews .review-header .stars{
        margin: 10px 0;
        display: inline-block;
        text-align: left!important;
    }
    .yht-reviews .review-header .verified-purchase{
        margin-left: 0;
    }
}
.yht-reviews .review-header .check{
    position: relative;
    top: -26px;
    left: -38px;
    margin-right: -20px;
    margin-bottom: -20px;
}
.yht-reviews .review-header .name{
    font: 24px Arial, sans-serif;
    line-height: 24px;
    color: rgb(38,38,38);
}
.yht-reviews .review-header .time{
    font: 16px Arial, sans-serif;
    line-height: 16px;
    color: #CCD5D9;
}
.yht-reviews .review-header .stars{
    text-align: right;
    min-width: 160px;
}

.yht-reviews .review-body{
    width: 100%;
    overflow: visible;
    position: relative;
    margin-top: 15px;
    font: 16px Arial, sans-serif;
    line-height: 23px;
    color: rgb(38,38,38);
	padding-bottom: 24px;
}
.yht-reviews .review-body h4{
    font-weight: 500;
    margin: 0px 0 0 0;
    color: rgb(38,38,38);
    font-size: 16px;
    line-height: 24px;
}
.yht-reviews .review-body p{
    margin-top: 0px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(38,38,38);
    overflow: hidden;
    display: block;
}
.yht-reviews .review-body .feedback-content.with-video{
    float: left;
    width: 52%;
    padding-left: 10px;
    box-sizing: border-box;
}
.yht-reviews .review-body .feedback-video-wrapper{
    float: left;
    width: 40%;
}
.yht-reviews .review-body .feedback-video-wrapper .video-js{
    margin-bottom: 12px;
}
.yht-reviews .review-body .feedback-audio-wrapper:after{
    content: '';
    clear: both;
    display: table;
}
.yht-reviews .review-body .feedback-audio-wrapper.on-right .vjs-audio {
    /*float: right;*/
}
.yht-reviews #reviews > div:after {
    display: table;
    content: '';
    clear:both;
}
.yht-reviews .review-body .disclaimer{
    display: block;
    color: rgb(38,38,38);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 0 3px;
}

.yht-reviews .verified-purchase{
    background-color: #bf2201;
    display: inline-block;
    color: white;
    padding: 0px 10px 0 10px;
    border-radius: 3px;
    text-decoration: none;
    font: 700 15px Roboto, Arial, sans-serif;
    line-height: 32px;
    font-style: normal!important;
    margin-left: 15px;
    vertical-align: middle;
}
.yht-reviews .verified-purchase img{
    vertical-align: middle;
    position: relative; top: -2px;
    margin-right: 1px;
}


.yht-reviews .navigation{

}
.yht-reviews .navigation .pages{
    float: left;
}
@media all and (max-width: 880px){
    .yht-review .navigation .pages{
        margin-bottom: 20px;
    }
}
.yht-reviews .navigation .pages a,
.yht-reviews .navigation .pages li{
    display: inline-block;
    width: 40px; height: 40px;
    border: 1px solid #c0c2c7;
    border-radius: 3px;
    font: 16px Arial, sans-serif;
    color: rgb(38,38,38);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 0;
    transition: all 0.3s ease;
}
.yht-reviews .navigation .pages li{
    margin-right: 6px;
}

.yht-reviews .navigation ul {
    padding-left: 0;
}
.yht-reviews .navigation .pages a:hover,
.yht-reviews .navigation .pages a.active,
.yht-reviews .navigation .pages li:hover,
.yht-reviews .navigation .pages li.selected {
    border-color: #336699;
    background: #336699;
    color: white;
}
.yht-reviews .navigation .page-list span,
.yht-reviews .navigation .pages .dots{
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    border: none;
    width: auto;
    height: auto;
    fill: currentColor;
    font: normal 14px Roboto, Arial, sans-serif;
	cursor: default;
		
}
.yht-reviews .navigation .pages .dots:hover {
	background-color: inherit;
	color: inherit;
}

.yht-reviews .navigation .vendor{
    display: inline-block;
    float: right;
}
.yht-reviews .navigation .vendor .logo{
    position: relative;
    display: inline-block;
    margin-left: 23px;
    float: right;
}
.yht-reviews .navigation .vendor .logo:before{
    content: '';
    position: absolute;
    top: 8%; left: -10px;
    width: 1px; height: 84%;
    background: #999999;
}
.yht-reviews .navigation .vendor .logo svg{
    width: 56px; height: auto;
}
.yht-reviews .navigation .vendor .powered-by-text{
    display: inline-block;
    text-align: right;
    font-size: 14px;
    font-family: "Roboto";
    color: #CCD5D9;
    line-height: .7;
    margin-top: 13px;
}
.yht-reviews .navigation .vendor .powered-by-text span{
    font-size: 14px;
    font-family: "Roboto Slab";
    color: #336699;
    font-weight: bold;
    line-height: 1.205;
    text-align: right;
}


.yht-reviews .video-js .vjs-play-progress,
.yht-reviews .video-js .vjs-volume-level,
.yht-reviews .video-js.vjs-audio .vjs-play-progress,
.yht-reviews .video-js.vjs-audio .vjs-volume-level {
    background-color: rgb(51,102,153);
}
.yht-reviews .video-js.vjs-audio .vjs-volume-bar {
    background-color: rgba(51,102,153,0.5);
}
.yht-reviews .video-js.vjs-audio {
    color: rgb(51,102,153);
}
.yht-reviews .video-js.vjs-audio .vjs-control {
    border-color: rgb(51,102,153);
}

.yht-reviews .verified-purchase em {
    color: #fff;
}

.yht-reviews .powered-by-text img {
	width:100px;
	padding-top:8px;
}

.yht-reviews .logo>img {
	width: 42px;
	margin-top:8px;
	margin-left:2px;
}

/* End default widget styles */



/* Start ribbon widget styles */

/* Спрятать админбар */
#wpadminbar {
    display: none;
}

#action_bar {
    z-index: 9999;
    font-size: 0;
    line-height:0;
    background-color: #0168b0;
    position: fixed;
    color: #626262;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
}

#action_bar .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#action_bar .column {
    width: 98%;
    margin: auto;
}

#action_bar .contact_details {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
}

#action_bar .contact_details li {
    padding: 15px 0;
    line-height: normal;
    padding-left: 20px;
    font-size: 16px;
    display: inherit !important;
    color: rgba(255, 255, 255, 0.5);
}

#action_bar .social_widetrust {
    padding: 12px 0;
    float: right;
    display: flex;
}
#action_bar .social_widetrust li{
    font-size: 10px;
    list-style: none;
}
#action_bar #trust-score{
    margin: 0 16px 0 0;
    font-size: 20px;
    line-height: 25px;
    font-family: "Segoe UI","Helvetica Neue","Helvetica","Arial","sans-serif";
    font-weight: 500;
    color: #fff;
}

#action_bar .tp-star__canvas, #action_bar  .tp-star__canvas--half {
    fill: #00b67a;
}

#action_bar #tp-widget-rating {
    color: #fff;
    font-family: "Segoe UI","Helvetica Neue","Helvetica","Arial","sans-serif";
    font-size: 14px;
    margin: 0 16px 0 0;
}

#action_bar .tp-widget-stars {
    margin: 0 16px 0 0;
}

#action_bar .tp-logo__text {
    fill: #fff;
}

#action_bar #ribbon-logo {
    line-height: 0;
    width: 126px;
}

@media all and (max-width: 1239px){
    #action_bar .container {
        max-width: 940px;
    }
}

@media all and (max-width: 959px){
    #action_bar .container {
        max-width: 708px;
    }
    #action_bar #trust-score {
        display: none;
    }
    #action_bar #tp-widget-rating {
        display: none;
    }
}

@media all and (max-width: 767px){
    #action_bar .container {
        max-width: 380px;
    }
    #action_bar .contact_details {
        float: none;
    }
    #action_bar .contact_details li {
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        text-align: center;
    }
    #action_bar .social_widetrust {
        padding: 0;
        margin-bottom: 22px;
        float: none;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
/* End ribbon widget styles */